<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manual Upload</title>
    <link href="./../static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
        <!-- Left logo -->
        <img src="./../static/images/pup-logo.png" alt="sample" />
        
        <!-- Center text -->
        <div class="center-text">INSTAPRINT</div>
        
        <!-- Right logo -->
        <img src="./../static/images/cpe-logo.png" alt="sample" />
    </header>

    <main>
        <div class="upload-area">
            <h1>Choose File to Upload</h1>
            <img src="./../static/images/file-upload.png" alt="sample">
            <br>
            <input type="file" id="fileInput" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx" multiple />
        </div>
        <div id="previewContainer"></div>
    </main>

    <script src="main.js"></script>
  </body>
</html>
